.centered {
    align-items: center;
    height: 100%;
}

.button {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;

    border-color: black;
    color: white;
    background-color: black;
}

.logoutButton {
    align-items: center;

    border-radius: 5px;

    border-color: black;
    color: white;
    background-color: black;
}

.taskbar {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    height: 90%;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border: 5px solid black;
    margin: 30px;
    margin-top: 10px;
}

.backgroundContainer {
    height: 100%;
    padding-left: 200px;
}

.background {
    background-color: #6fa8dc;
}

.loginContainer {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border: 5px solid black;
    width: 50%;
    align-items: center;
    align-items: middle;
    margin-left: 185px;
    margin-top: 85px;
}

.countdownContainer {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border: 5px solid black;
    width: 40%;
    align-items: center;
    align-items: middle;
    height: 100%;
    margin-top: 10px;
    margin-left: 300px;
}

.taskList {
    text-align: left;
    margin-left: -10%;
    padding-right: 40px;
}

.deleteTaskButton {
    vertical-align: middle;
    background-color: white;
    border-color: white;
    border-width: 0;
}
